<!DOCTYPE html>
<html>
<head>
    <meta name="Ograniz-r" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="../vendor/jQuery/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<!--TDO Meta tags in head. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta-->
<!--TDO Title tag in head.-->

<body ng-app="organizr">

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Organiz-r</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="#">Edit</a></li>
            <li><a href="#">Query</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Save</a></li>
            <li><a href="#">Open</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Close</a></li>
        </ul>

    </div>
</nav>

<!--
App is simple enough that everything can be stored on the root scope.
For now, start by putting everything inside index.html.
If a requisite amount of semantic structure presents itself, split elements out into directives as necessary.
At the end, separate pages out into directives if desired for cleanliness.
-->

<!--<div class="container-fluid"></div> <!--Main container for Start Page - ng-show later-->


<!--Main container for Entry Grid-->
<div class="container-fluid" ng-controller="TableController as table">

        <table class="table">
            <tr>
                <th></th>

                <th ng-repeat="heading in table.cubeProperties track by $index">
                    {{heading}}
                    <span class="btn btn-xs btn-danger pull-left" ng-click="table.columnRemove(heading)"><span class="glyphicon glyphicon-remove"></span></span>
                    <!--columnRemove will remove the selected value from cubeProperties, and the likely-named PROPERTY ("Column") from each OBJECT ("Row") in the Cube-->
                </th>

                <th>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="newColumn">
                        <span class="input-group-addon" ng-click="table.columnAdd(newColumn)"><span class="glyphicon glyphicon-plus"></span></span>
                        <!--columnAdd will add the entered value (Property-Validated) to cubeProperties, and a likely-named PROPERTY ("Column") to each OBJECT ("Row") in the Cube, with an empty array as their companion value-->
                    </div>
                </th>
            </tr>

            <tr ng-repeat="row in table.cube track by $index">
                <td><div class="btn btn-danger" ng-click="table.rowRemove(row)"><span class="glyphicon glyphicon-remove"></span></div></td>
                <!--rowRemove will remove the selected object ("Row") from The Cube-->
                <td ng-repeat="(key, cell) in row track by $index">

                    <div ng-repeat="value in cell track by $index" class="btn btn-sm btn-default">
                        {{value}}
                        <div class="btn btn-xs btn-danger" ng-click="table.cellRemoveValue(row, cell, value)"><span class="glyphicon glyphicon-remove"></span></div>
                        <!--cellRemoveValue will remove the target VALUE from the ARRAY ("Cell") of the target PROPERTY ("Column") in target OBJECT ("Row") in The Cube-->
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="newValue">
                        <span class="input-group-addon" ng-click="table.cellAddValue(newValue, cell);newValue=''"><span class="glyphicon glyphicon-plus"></span></span>
                        <!--cellAddValue will add the target VALUE to the ARRAY ("Cell") of the target PROPERTY ("Column") in target OBJECT ("Row") in The Cube-->
                    </div>

                </td>

            </tr>

            <tr id="newRow">
                <td><span class="btn btn-success">New Item:</span></td>
                <!--Paired with rowAddNewRow, below - alternately, a blank OBJECT ("Row") can be added be pressing this button.-->
                <td ng-repeat="property in table.cubeProperties">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-addon" ng-click="table.rowAddNewRowData()"><span class="glyphicon glyphicon-plus"></span></span>
                        <!--rowAddNewRow will add a new OBJECT ("Row") to The Cube, with any VALUES entered in the cell input boxes added in their respective PROPERTIES ("Columns")-->
                    </div>
                </td>
            </tr>

        </table>

    {{table.cube | json}}

</div>



<!--<div class="container-fluid"></div> <!--Main container for Query - ng-show later-->

</body>

</html>